.header {
    margin: auto;
    align-content: center;
    background-image: url(/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg);
    width: 600px;
    height: 400px;
    background-size: cover;
}
h1 {
    color: white;
    text-align: center;
    padding-top: 180px;
}
li {
    list-style: none;
}
.intro {
    margin: auto;
    width: 450px;
}
.intro-img {
    background-size: cover;
}